<iframe width="100%" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyClt0MRBtvV4wrVr8REDHjV_4Nc2-BNU1o&q=Anıtkabir"
    allowfullscreen>
</iframe>

<footer class="mt-5 mb-5">
    <div class="col-13 container row" style="margin: auto;">
        <div class="col-md-4">
            <h4 class="footertext mt-4" style="text-align: left; padding-left: 16px;">gerekli linkler</h4>
            <div class="col-13 container row">
                <div class="col-md-6">
                    <p class="footertextt">Blog</p>
                </div>
                <div class="col-md-6">
                    <p class="footertextt">Wishlist</p>
                </div>
            </div>
            <div class="col-13 container row">
                <div class="col-md-6">
                    <p class="footertextt">FAQs</p>
                </div>
                <div class="col-md-6">
                    <p class="footertextt">Privacy Policy</p>
                </div>
            </div>
            <div class="col-13 container row">
                <div class="col-md-6">
                    <p class="footertextt">About</p>
                </div>
                <div class="col-md-6">
                    <p class="footertextt">Order Tracking</p>
                </div>
            </div>
            <div class="col-13 container row">
                <div class="col-md-6">
                    <p class="footertextt">Contact Us</p>
                </div>
                <div class="col-md-6">
                    <p class="footertextt">Warranty and Services</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"
            style="border-left-width: 1px;border-left-style: solid;border-right-width: 1px;border-right-style: solid; color:#eaeaea;">
            <div style="text-align: center;"><img src="/main/yemezler.png" class="w-25" alt=""></div>
            <h5 class="footerrtext mt-3 mb-3 text-dark" style="text-align: center;">Yücetepe, Akdeniz Cd. No:31, <br>
                06570
                Çankaya/Ankara</h5>
            <p class="footerrtext text-dark" style="text-align: center;"><span
                    style="color: #666; padding-right: 20px;">Numara: </span> 1900 – 123 456 78</p>
            <p class="footerrtext text-dark" style="text-align: center;"><span
                    style="color: #666; padding-right: 20px;">Email: </span> yemezler@example.com</p>
        </div>
        <div class="col-md-4">
            <h4 class="footertext text-dark mb-3 mt-4" style="text-align: left;">Açılıs Saatleri</h4>
            <p class="footerrtext"><span style="color: #666; padding-right: 20px;">Cuma: </span> 09:00 – 23:00h</p>
            <p class="footerrtext"><span style="color: #666; padding-right: 20px;">Cumartesi: </span> 09:00 – 16:00h</p>
            <p class="footerrtext"><span style="color: #666; padding-right: 20px;">Pazar: </span> 12:00 – 18:00h</p>
        </div>
        <div class="col-md-4" style="padding-right: 0px;">
            <hr style="position: relative; top: 55%; left: 2.5rem;">
        </div>
        <div class="col-md-4 mt-5" align="center">
            <div class="footerdot mousePointer"><i class="fab fa-youtube" style="position: relative; bottom: -23%;"></i>
            </div>
            <div class="footerdot mousePointer"><i class="fab fa-facebook-f"
                    style="position: relative; bottom: -23%;"></i>
            </div>
            <div class="footerdot mousePointer"><i class="fab fa-instagram"
                    style="position: relative; bottom: -23%;"></i>
            </div>
            <div class="footerdot mousePointer"><i class="fab fa-twitter" style="position: relative; bottom: -23%;"></i>
            </div>
        </div>
        <div class="col-md-4" style="padding-left: 0px;">
            <hr style="position: relative; top: 55%; right: 2.5rem;">
        </div>
        <div class="col-md-4" style="color:#a3a3a3;">© 2020 Yemezler</div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p style="color:#a3a3a3;">Good Food Changes Your Mood</p>
            <img src="/pages/payment.png" class="w-50" alt="">
        </div>
    </div>
</footer>