<nav class="navbar navbar-expand-sm fixed-top navbar-main"
    style="padding-top: 0px; padding-left: 0px; padding-right: 3rem; z-index: 2;">
    <div class="triangle">
        <img src="main/yemezler.png" width="160px" height="112px" alt="Yemezler Logo" class="mousePointer"
            style="margin-top: 1rem; width: 10rem; height: 7rem;">
    </div>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#NCollapse">
        <i class="fas fa-bars add2 text-light"></i>
    </button>
    <div id="NCollapse">
        <ul class="navbar-nav navbar-brand" style="padding-left: 1rem;">
            <li class="active"><a class="nav-link bgnc" href="/">Ana Sayfa</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle bgnc" href="#menu" data-toggle="dropdown">Menü</a>
                <div class="dropdown-menu dropdownn">
                    <a class="dropdown-item" href="#more">Pizza</a>
                    <a class="dropdown-item" href="#more">Burger</a>
                    <a class="dropdown-item" href="#more">Sandviçler</a>
                    <a class="dropdown-item" href="#more">Izgara Et</a>
                    <a class="dropdown-item" href="#more">Tatlılar</a>
                    <a class="dropdown-item" href="#more">Atıştırmalıklar</a>
                </div>
            </li>
            <li class="nav-item"><a class="nav-link bgnc" data-toggle="modal" data-target="#modall"
                    href="#subeler">Şubeler</a></li>
            <li class="nav-item"><a class="nav-link bgnc" href="/about">Hakkımızda</a></li>
        </ul>
    </div>
    <div class="container">
        <ul class="navbar-nav ml-auto" style="font-size: 1.25rem">
            <div class="cart-info d-flex mr-lg-3" onclick="document.getElementById('id01').style.display='block'">
                <span class="cart-info__icon"><i class="fas fa-user"></i></span>
            </div>
            <div class="cart-info d-flex mr-lg-3" onclick="openSearch()">
                <span class="cart-info__icon"><i class="fas fa-search"></i></span>
            </div>
            <div id="cart-info" class="cart-info d-flex mr-lg-5">
                <span class="cart-info__icon mr-lg-3"><i class="fas fa-shopping-cart"></i></span>
                <p class="mb-0 text-capitalize text-color"><span id="item-count" class="badge">0 </span>$<span
                        class="item-total">0.00</span></p>
            </div>
        </ul>
    </div>

    <div class="max-height">
        <div id="cart" class="cart max-height mt-5">
            <div class="cart-total-container d-flex justify-content-around text-capitalize mt-5">
                <h5>Toplam</h5>
                <h5> $ <strong id="cart-total" class="font-weight-bold">0.00</strong> </h5>
            </div>
            <!--end cart total -->
            <!-- cart buttons -->
            <div class="cart-buttons-container mt-3 d-flex justify-content-between">
                <a id="clear-cart" class="btn btn-outline-secondary btn-black text-uppercase mr-2"
                    style="padding:0">Ürünleri Temizle</a>
                <a href="#" class="btn btn-outline-secondary text-uppercase btn-yellow ml-2" style="padding:0">Sepetime
                    Git</a>
            </div>
            <!--end of  cart buttons -->
        </div>
    </div>
</nav>

<!-- ŞUBE -->
<div class="modal fade" id="modall">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yemezler Anıtkabir <i class="fas fa-landmark"></i></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body font-weight-bold">
                Tek Şubemiz Vardır Oda Atamızın Yanı
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal"><i class="fas fa-male"></i></button>
            </div>
        </div>
    </div>
</div>
<!-- ŞUBE END  -->

<!-- SIGN UP  -->

<div id="id01" class="sumodal">
    <span onclick="$('#id01')[0].style.display='none'" class="closer" title="Close Modal">&times;</span>
    <form class="sumodal-content" action="">
        <div class="container">
            <h1 class="pt-2">Kaydol</h1>
            <p>Lütfen Sitemize Kayıt Olunuz</p>
            <hr class="hr">

            <label for="name"><b>Kullanıcı Adı</b></label>
            <input id="myInput" type="text" placeholder="Kullanıcı Adınızı Giriniz" name="email" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Email Adresinizi Giriniz" name="email" required>

            <label for="psw"><b>Şifre</b></label>
            <input placeholder="Şifrenizi Giriniz" type="password" id="psw" name="psw"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                required>

            <label for="psw-repeat"><b>Tekrar Şifre</b></label>
            <input type="password" placeholder="Tekrar Şifrenizi Giriniz" name="psw-repeat" required>

            <label>
                <input type="checkbox" name="remember" class="mb-3 mr-1">Beni Hatırla
            </label>

            <p id="text">Dikkat! Caps lock Açık</p>

            <div id="message">
                <p id="letter" class="invalid">Bir <b>küçük </b> harf</p>
                <p id="capital" class="invalid">Bir <b>büyük </b> harf</p>
                <p id="number" class="invalid">Bir <b>numara</b></p>
                <p id="length" class="invalid">En Az <b>8 karakter</b></p>
            </div>

            <div>
                <button type="button" onclick="$('#id01')[0].style.display='none'"
                    class="scbtn bg-danger text-light">İptal</button>
                <button type="submit" class="scbtn bg-success text-light">Kayıt Ol</button>
            </div>
        </div>
    </form>
</div>


<!-- SIGN UP END  -->

<!-- SEARCH END  -->

<div id="myOverlay" class="overlay">
    <span class="closer" onclick="closeSearch()" title="Close Overlay">×</span>
    <div class="overlay-content">
        <form action="">
            <input type="text" id="myInputt" onkeyup="myFunction()" placeholder="Ara.." title="Type in a name"
                name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
        <ul id="myUL">
            <li><a href="#">Burger</a></li>
            <li><a href="#">Pizza</a></li>
            <li><a href="#">Sandviçler</a></li>
            <li><a href="#">Biftek</a></li>
            <li><a href="#">Tatlı</a></li>
            <li><a href="#">Atıştırmalık</a></li>
            <li><a href="#">İçecek</a></li>
        </ul>
    </div>
</div>

<!-- SEARCH END  -->